:80 {
  redir https://{host}{uri} permanent
}

{$DOMAIN}:443 {

  # Get a cert by using the ACME HTTP-01 challenge.
  tls {$EMAIL}

  encode gzip zstd

  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  header {
  # Prevent search engines from indexing
  X-Robots-Tag "none"

  # Remove Caddy branding
  -Server
  }

  reverse_proxy app:{$SERVER_PORT} {
       header_up X-Real-IP {remote_host}
  }
}
